
    
    .table{
        margin-left: 50px;
        margin-top: 70px;
        width: 1250px;
        height: 866px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 3px 3px 3px 6px #00000029;
        border-radius:20px;
        opacity: 1;
        justify-content: space-between;
        
    }
.btn {
    text-decoration: none;
    // justify-content: space-between;
    margin-left: 10px;
    font-size: 15px;
}














